<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion</title>
    <!--Google Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!--Main Css File-->
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div class="accordion">
      <div class="item">
        <p class="number">01</p>
        <p class="text">Where are these chairs assembled?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga a
            illum voluptatem nisi, quos distinctio aperiam soluta consequatur
            totam voluptas laboriosam deleniti adipisci, in aspernatur nemo
            doloribus cupiditate! Asperiores, sapiente.
          </p>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>
              Quis nemo repellendus, animi voluptatum veritatis iste explicabo.
            </li>
            <li>Quam eum quas cumque nihil ipsum sunt esse tempore.</li>
          </ul>
        </div>
      </div>
      <div class="item open">
        <p class="number">02</p>
        <p class="text">How long do I have to return my chair?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga a
            illum voluptatem nisi, quos distinctio aperiam soluta consequatur
            totam voluptas laboriosam deleniti adipisci, in aspernatur nemo
            doloribus cupiditate! Asperiores, sapiente.
          </p>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>
              Quis nemo repellendus, animi voluptatum veritatis iste explicabo.
            </li>
            <li>Quam eum quas cumque nihil ipsum sunt esse tempore.</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="number">03</p>
        <p class="text">Do you ship to countries outside the EU?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga a
            illum voluptatem nisi, quos distinctio aperiam soluta consequatur
            totam voluptas laboriosam deleniti adipisci, in aspernatur nemo
            doloribus cupiditate! Asperiores, sapiente.
          </p>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>
              Quis nemo repellendus, animi voluptatum veritatis iste explicabo.
            </li>
            <li>Quam eum quas cumque nihil ipsum sunt esse tempore.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
