/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgb(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 24px;
  align-items: center;
}
.number,
.text {
  font-size: 24px;
  font-weight: 500;
}
.number {
  color: #676b6f;
}
.icon {
  width: 24px;
  height: 24px;
  /* color: #087f5b; */
}

.open {
  border-top: 4px solid #087f5b;
}
.open .hidden-box {
  display: block;
}
.open .number,
.open .text,
.open .icon {
  color: #087f5b;
}

.hidden-box {
  grid-column: 2;
  display: none;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  font-weight: 500;
}
.hidden-box ul {
  color: #676b6f;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
