/** Start Variables **/
:root {
    --main-color: #07647e;
    --transparent-color: rgba(15 116 143 / 50%);
    --main-padding: 100px 0;
}

/** Start Global Rules **/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }

  ul {
    list-style: none;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
/*Media Queries*/
/* small */
@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/** End Global Rules **/
/* start componants */
.main-heading{
    text-align: center;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    bottom: -30px;
    height: 2px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    font-size: 25px;
    color: #777;
}
/* End componants */
/** Start Header **/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);
}

header .container .logo-icon{
    color: var(--main-color);
    width: auto;
    height: auto;
}

header .container .logo-icon i{
    padding-left: 15px;
}

header nav .togle-menu{
    color: white;
    font-size: 20px;
}

@media (min-width: 768px) {
    header nav .togle-menu{
        display: none;
    }
}
    
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    display: flex;
}
@media (max-width: 768px) {
    header nav ul{
        display: none;
    }
    header nav .togle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    header nav .togle-menu:hover + ul li a{
        padding: 15px !important;
    }
}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 20px;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header .container nav ul li a.active,
header .container nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: smooth;
}

header nav .form {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
}

header nav .form i:hover {
    color: var(--main-color);
}
/** End Header **/
/** Start Landing **/
.landing {
    min-height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    background-color: rgba(0 0 0 50%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 768px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text h2 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.5;
}
.landing .text p {
    font-size: 20px;
    line-height: 2;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
@media (max-width: 768px) {
    .landing .change-background {
        display: none;
    }
}
.landing .fa-angle-right {
    font-size: 30px;
    right: 30px;
}
.landing .fa-angle-left {
    font-size: 30px;
    left: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color : var(--main-color);
}
/** End Landing **/
/* Start Services */
.services {
    padding: var(--main-padding);
}
.services .ser-box {
    display: flex;
}

.services .ser-box i {
    margin-right: 50px;
}

.services .ser-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .ser-box p {
    color: #777;
    line-height: 2;
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

@media screen and (max-width: 768px) {
    .services .ser-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .ser-box i {
        margin: 0 0 30px;
    }
}
/* End Services */
/* Start Design */
.design {
    padding: var(--main-padding);
    height: 600px;
    background-color: black;
    display: flex;
    align-items: center;
    background: url(../images/design-features.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.design::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.design .img,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .img{
    text-align: center;
    position: relative;
    bottom: -150px;
}
@media screen and (max-width: 768px) {
    .design .img {
        display: none;
    }
}
.design .text{
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f108";
    margin-right: 10px;
    position: relative;
    top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding: var(--main-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .shuffle li:hover {
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs-container .box{
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption{
    bottom: 0;
}
.portfolio .imgs-container .box:hover img{
    transform: scale(1.1);
    transform: rotate(5deg);
}
@media (min-width: 768px) {
    .portfolio .imgs-container .box{
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .portfolio .imgs-container .box{
        flex-basis: 25%;
    }
}

.portfolio .imgs-container img {
    max-width: 100%;
    transition: 0.5s;
}
.portfolio .imgs-container .box .caption {
    position: absolute;
    background-color: white;
    bottom: -100%;
    left: 0;
    padding: 20px;
    width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.video video{
    width: 100%;
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
.video .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.video .text p{
    margin-bottom: 30px;
}
.video .text button{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}
/* End Video */
/* Start About */
.about {
    padding-top: 100px;
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    max-width: 100%;
    bottom: -100px;
    margin-top: -100px;
}
@media screen and (max-width: 768px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End About */
/* Start Statistics */
.stats {
    padding: var(--main-padding);
    background-color: var(--main-color);
    text-align: center;
    position: relative;
}
.stats::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    padding: 50px;
    color: white;
}
@media screen and (max-width: 768px) {
    .stats .container .box {
        flex-basis: 100%;
        border-bottom: 1px solid white;
    }
}
@media screen and (min-width: 769px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media screen and (min-width: 991px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.stats .container .box p {
    font-size: 14px;
    margin-bottom: 20px;
}
/* End Statistics */
/* Start Skills */
.our-skills {
    padding: var(--main-padding);
}
.our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (min-width: 991px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }      
}
.our-skills .container > div > h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: #777;
    margin-bottom: 50px;
    line-height: 2;
    text-align: center;
}
.our-skills .container .content{
    display: flex;
    margin-bottom: 30px;
}
.our-skills .container .content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;    
}
@media (max-width: 768px) {
    .our-skills .container .content{
        flex-direction: column;
        text-align: center;
    }
    .our-skills .container .content img{
        margin: 0 auto 20px;
    }
}
.our-skills .container .content .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .container .content .text h4 {
    font-weight: normal;
    margin-bottom: 20px;
    text-align: right;
}
.our-skills .test .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .test .bullets li {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.our-skills .test .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
    position: relative;
    margin-bottom: 50px;
}
.our-skills .skills .prog-holder h4{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.our-skills .skills .prog-holder .prog-bar {
    height: 30px;
    background-color: #ccc;
    border-radius: 50px;
}
.our-skills .skills .prog-holder .prog-bar span{
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative; 
    border-radius: 50px;
}
.our-skills .skills .prog-holder .prog-bar span::before{
    content: attr(data-progress);
    position: absolute;
    top: -40px;
    right: -15px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;   
}
.our-skills .skills .prog-holder .prog-bar span::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    top: -12px;
    right: 0;
}
/* End Skills */
/* Start Quote */
.quote {
    padding: var(--main-padding);
    text-align: center;
    position: relative;
    background-image: url(../images/quto.png);
    background-size: cover;
    color: white;
}
.quote::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.quote .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote q {
    font-size: 50px;
    margin-bottom: 20px;
}
/* End Quote */
/* Start pricing */
.pricing {
    padding: var(--main-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
    background-color: rgb(253, 253, 253);
}
.pricing .plans .plan .head{
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing .plans .plan .head span {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}
.pricing .plans .plan .head span::before{
    content: "$";
    position: relative;
    font-weight: normal;
    font-size: 20px;
    top: -40px;
    margin-right: 20px; ;
}
.pricing .plans .plan .head span::after{
    content: "/Mo";
    position: relative;
    font-weight: normal;
    font-size: 20px;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li{
    padding: 20px 0;
}
.pricing .plans .plan ul li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .foot{
    padding: 40px 40px;
}
.pricing .plans .plan .foot a {
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
.pricing .plans .plan .foot a:hover{
    background-color: var(--main-color);
    color: white;
}
.pricing .container .text{
    text-align: center;
    margin: 50px;
    font-size: 30px;
}
.pricing .container .contact-link{
    display: block;
    width: fit-content;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    margin: 20px auto;
    text-decoration: none;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
}
/* End Pricing */
/* start subscribe */
.sub {
    padding: var(--main-padding);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    color: white;
    position: relative;
}
.sub::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.sub .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 991px) {
    .sub .container {
        flex-direction: column;
    }
}
.sub .container form {
    width: 500px;
    max-width: 100%;
    display: flex;
    position: relative;
}
.sub .container form i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.sub .container form input[type = "email"]{
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 50px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.sub .container form input[type = "submit"]{
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.sub .container form input[type = "email"]:focus,
.sub .container form input[type = "submit"]:focus{
    outline: none;
}
.sub .container form ::placeholder{
    color: white;
}
.sub .container p {
    margin-left: 50px;
    font-size: 20px;
}
@media screen and (max-width: 991px) {
    .sub .container p {
        margin: 20px 0;
        text-align: center;
        line-height: 2;
    }
}
/* end subscribe */
/* Start Contact  */
.contact {
    padding: var(--main-padding);
}
.contact .content{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px ) {
    .contact .content{
        flex-direction: column;
    }
}
.contact form{
    flex-basis: 70%;
}
.contact form .main-input{
    display: block;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
}
.contact form .main-input:focus{
    outline: none;
}
.contact form textarea.main-input{
    height: 200px;
}
.contact form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    display: flex;
    margin-left: auto;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
@media (max-width: 767px ) {
    .contact form input[type="submit"]{
        margin: auto auto;
    }
}
.contact .info{
    flex-basis: 25%;
}
@media (max-width: 767px ) {
    .contact .info{
        order: -1;
        text-align: center;
    }
}
.contact .info h4{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    color: black;
}
.contact .info span{
    display: block;
    margin-bottom: 15px;
    color: #777;
}
.contact .info h4:nth-of-type(2){
    margin-top: 75px;
}
@media (max-width: 767px ) {
    .contact .info h4:nth-of-type(2){
        margin-top: 30px;
    }
}
.contact .info address{
    line-height: 2;
    color: #777;
}
@media (max-width: 767px ) {
    .contact .info address {
        margin-bottom: 20px;
    }
}
/* End Contact  */
/* Start Footer  */
.footer{
    padding: var(--main-padding);
    background-color: #07647e;
    color: white;
    text-align: center;
    line-height: 2;
}
/* End Footer  */